.test-page {
	font-family: var(--font);
	flex-grow: 1;
}

.test-inner-page {
	font-family: var(--font);
	flex-grow: 1;	
}

.support {
	text-align: center;
	font-size: .8rem ;
}

.support .sched-btn {
	font-size: .8rem ;
	font-weight: normal ;
	text-decoration: none ;
}

@media(max-width:600px){

	.support {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.support .sched-btn {
		margin: .5em 0 ;
		font-size: .7rem ;
	}
}