.display
{
	height : 40vw ;
	text-align: right ;
	background-size: cover ;
	background-repeat: no-repeat ;
	color : white ;
	width: 100% ;
	height: 100% ;
}

.imge
{
	margin-left: 2em ;
	margin-right: 2em ;
	max-width: 50% ;
}

.imge img
{
	width: 40vw;
	margin-top: 2em;
}

.dis_text
{
	font-size: 2rem ;
	width: 100% ;
	text-align: center ;
	background-color: rgba(0,0,0,0.5) ;
}

.content
{
	display: flex;
}

.left-title
{
  font-size: 3rem ;
  border-bottom: 1px solid darkblue ;
  color: rgb(29, 41, 81) ;
  font-family: 'Signika' ;
  letter-spacing: 0.02em ;
  display: inline-block; 
  padding: 0 1em ;
  transition: all 0.4s ;
  margin-top: 0 ;
}

.title-con
{
  margin: 0 1em 1em ;
  text-align: left ;
}

.left-title:hover
{
	background-color: rgb(29, 41, 81);
	color : rgb(70, 130, 180);
}