.banner
{
	border : 2px solid black ;
	height : 40vw ;
}

.red
{
	color: #b4b4b4 ;
}


.blue
{
	color : #6a5acd ;
}

.green
{
	color : #787878 ;
} 

.ban_text
{
	font-size: 2rem ;
	width: 100% ;
	height: 100% ;
	text-align: center ;
}

.ban_main
{
	margin: 1em ;
}

.banner:hover
{
	font-size: 150% ;
}

.setting
{
	/*width: 100% ;
	height: 100% ;*/
}

.a
{
	background-image: url('../images/i4.jpg') ;
}

.b
{
	background-image: url('../images/i5.png') ;
}

.c
{
	background-image: url('../images/i6.png') ;
}