.BannerTwo
{
	display: flex ;
}

.ban2-stu
{
	border-bottom: 2px solid black;
	width: 100%;
	background-image: url('../images/cs1.webp');
	background-position: center;
	background-size: cover;
}

.ban2-person
{	border-bottom: 2px solid black;
	width: 100%;
	background-image: url('../images/pc3.webp') ;
	background-position: center;
	background-size: cover;
}

.ban2-sar
{	border-bottom: 2px solid black;
	width: 100%;
	background-image: url('../images/sarathi.jpg') ;
	background-position: center;
	background-size: cover;
}

.ban2-saat
{
	border-bottom: 2px solid black;
	width: 100%;
	background-image: url('../home/404.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.ban2_main
{
	padding: 1em ;
	min-width: 55%;
	border-bottom: 2px solid black;
	color: white;
}

.blue
{
	background-color: rgb(29, 41, 81) ;
}

.green
{
	background-color: rgb(60, 120, 60) ;
}

.red
{
	background-color: rgb(180, 80, 80) ;
}

.undefined
{
	margin: 0 ;
	width: 100% ;
}

@media(max-width: 600px)
{	.ban2_main
	{	padding: .5em ;
	}
}