.banner
{
	border-bottom : 2px solid black ;
	height : 40vw ;
	text-align: right ;
	background-size: cover ;
	background-repeat: no-repeat ;
	color : white ;
	width: 100% ;
	height: 100% ;
}

.red_left
{
	background-image: linear-gradient(to right, rgba(180, 80, 80, 0.8) 0%, rgba(180, 80, 80, 0.8) 50%
										, rgba(180, 80, 80, 0.1) 100%) ;
}

.red_right
{
	background-image: linear-gradient(to left, rgba(180, 80, 80, 0.8) 0%, rgba(180, 80, 80, 0.8) 50%
										, rgba(180, 80, 80, 0.1) 100%) ;
}

.blue_right
{
	background-image: linear-gradient(to left, rgba(106, 90, 205, 0.8) 0%, rgba(106, 90, 205, 0.8) 50%
										, rgba(106, 90, 205, 0.1) 100%) ;
}

.blue_left
{
	background-image: linear-gradient(to right, rgba(106, 90, 205, 0.8) 0%, rgba(106, 90, 205, 0.8) 50%
										, rgba(106, 90, 205, 0.1) 100%) ;
}

.green_left
{
	background-image: linear-gradient(to right, rgba(60, 120, 60, 0.8) 0%, rgba(60, 120, 60, 0.8) 50%
										, rgba(60, 120, 60, 0.1) 100%) ;

} 

.green_right
{
	background-image: linear-gradient(to left, rgba(60, 120, 60, 0.8) 0%, rgba(60, 120, 60, 0.8) 50%
										, rgba(60, 120, 60, 0.1) 100%) ;

} 

.ban_main
{
	padding: 1em ;
}

/*.banner:hover
{
	font-size: 150% ;
}
*/

.a
{
	background-image: url('../images/i1.jpg') ;
	
}

.b
{
	background-image: url('../images/i2.jpg') ;
	
}

.c
{
	background-image: url('../images/i3.jpg') ;
	
}