.calendar {
	display: flex;
	align-items: center;	
}

.calendar-left {
	display: flex;
	max-width: 70% ;
	flex-wrap: wrap ;
}

.cal-date {
	border-radius: .5rem;
	cursor: pointer;
	color: var(--dark);
	display: flex;
	flex-direction: column;
	flex-basis: 15% ;
	margin: .5em ;
	padding: 0 .2em .2em ;
}

.cal-date:hover, .cal-time:hover {
	background-color: var(--lightBlue);
}

.cal-date .date-num {
	margin-bottom: 0 ;
	font-size: 1.3rem ;
}

.cal-date .date-month {
	margin-bottom: 0;
	font-size: 1rem ;
	font-weight: bold;
	text-transform: uppercase;
}

.calendar-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	max-height: 210px ;
}

.calendar-right .cal-time {
	cursor: pointer;
	color: var(--dark);
	font-size: 1rem ;
	margin: .2em ;
	padding: .3em ;
	border-radius: .5rem;
}

.selected, .calendar-right .selected {
	background-color: var(--dark);
	color: var(--white) ;
}

.selected:hover {
	background-color: var(--dark) ;
}


/* Calendar2 */

.cal2 {
	display: flex;
	flex-direction: column;
}

.cal2 .cal2-date {
	display: flex ;
	justify-content: space-between;
	width: 100% ;
}

.cal2-date .cal2-left {
	border-radius: .5rem;
	cursor: pointer;
	color: var(--dark);
	margin: .5em ;
	padding: 0 .2em .2em ;
	font-size: 1rem ;
}

.cal2-date .cal2-right {
	display: flex;
	flex-direction: row ;
	background-color: var(--lightBlue);
	align-items: center;
	border-bottom: 1px solid var(--dark);
	/*flex-basis: 80% ;*/
}

.cal2-right .cal2-time {
	background-color: var(--white);
	color: var(--dark);
	border-radius: .5rem;
	cursor: pointer;
	margin: .2em ;
	padding: .3em ;
	font-size: .9rem ;
}

.cal2-right .cal2-time:hover {
	background-color: var(--darkLightBlue);
}

.cal2 .select2 {
	background-color: var(--dark);
	color: var(--white) ;
}

.cal2 .select2:hover {
	background-color: var(--dark);
}