.payment 
{
	display: flex ;
	justify-content: space-evenly;
}

.payment-left, .payment-right
{
	text-align: center; 
}

.payment-left
{
	font-size: 1.5rem ;
}

.payment-right button
{
	margin-top: 1em ;
}