@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.text-div
{
  margin: .2em 0;
}

.textarea-div
{
  display: flex ;
}

.lbel
{
  margin-right: 1em ;
  width: 9em;
  text-align: right;
  display: inline-block;
  font-size: 1.5rem ; 
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.inpu
{
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem ; 
  background-color: transparent;
  border : 1px solid black;
  outline: 2px solid #ccddff;
  box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2 );
  margin-top: 0.5em ;
}

.inpu:focus
{
  outline : 3px solid black ;
  border: 1px solid black ;
}

.inpu:hover
{
  background-color: black ;
  color: #ccddff ;
  box-shadow: inset 0 0 0 1px #ccddff;
}