.propfileBoxe
{  border: 1px solid black;
  padding: 1.5em ;
  background-color: rgb(83, 154, 212) ;
  border-radius: .5rem;
}
 
.pteste
{	justify-content: space-evenly ;
	font-size: 1.5rem ;
	text-decoration: none ;
	font-family: 'Roboto', sans-serif;
  display : flex ;
}

.lefte
{ display: flex ;
  flex-direction: column ;
  margin-left: 1em ;
}

.righte
{ display: flex;
  width: 70% ;
  margin-left: 3em ;
  margin-right: 3em ;
  flex-direction: column ;
  justify-content: space-between; 
  padding-left: 2em ;
}

.propfileboxe div 
{ border : 1px solid black ;
}

.test-result-con  {
  border-radius: 1rem ;
  border: 2px solid black ;
  background-color: white ;
  text-align: center;
}

.test-result-con h3 {
  background-color: rgb(29, 41, 81) ;
  color: white ;
  border-top-left-radius: 0.8rem ; 
  border-top-right-radius: 0.8rem ; 
  margin-top: 0 ;
  padding: .5em ;
}

.results-con .record  {
  background-color: white ;
  border-radius: 1rem ;
  justify-content: space-evenly;
}

.results-con .record p {
  width: 5vw ;
}

.buttone
{ margin: 1em 0.4em 0.5em 0.4em ;
  padding: 0.5em 2em ;
  text-align: center;
  text-decoration: none;
  background-color: white;
  font-size: 1.5rem ;
  font-weight: bold ;
  letter-spacing: 0.05em ;
  color: black ;
  border : 2px solid black;
  border-radius: 99rem ;
  transition: all 0.5s ;
}

.buttone:hover
{ transform: scale(1.1);
  background-color: rgb(29, 41, 81) ; 
  border: 2px solid black ;
  color: white ;
}

.dele
{ background-color: darkred ;
  border : 2px solid red;
  color: white;
}

.dele:hover
{ background-color: red ;
  border : 2px solid black;
}

@media(max-width: 600px)
{  
  .propfileBoxe
  { padding: .5em ;
  }
   
  .pteste
  { font-size: 1.2rem ;
    flex-direction: column-reverse;
  }

  .lefte
  { display: flex ;
    flex-direction: row ;
    flex-wrap: wrap;
    margin-left: 0 ;
  }

  .righte
  { width: 90% ;
    margin-left: 0 ;
    /*margin-right: 3em ;*/
    padding-left: 0.5em ;
  }

  .test-result-con  {
    width: 100%;
  }

  .buttone
  { margin: .5em .2em 0.3em 0.2em ;
    padding: 0.5em 1em ;
    font-size: 1.2rem ;
  }
}