.user-profile-page {
  flex-grow: 1;
}

.user-profile {
  font-size: 1rem ;
  font-family: var(--font);
  padding: 0 4em ;
  display: flex;
  flex-direction: column;
}

.up-top {
  display: flex;
  flex-direction: row;
  justify-content: center ;
  padding: .5em 0;
}

.up-bottom {
  display: flex;
  align-items: flex-start;
  padding-top: 1em ;
}
 
.up-left {
  display: flex ;
  flex-direction: column ;
  padding-left: 1em ;
  flex-basis: 50% ;
}

.test-result-con  {
  display: flex;
  flex-direction: column;
}

.test-result-con h3 {
  background-color: var(--dark) ;
  color: var(--white) ;
  border-top-left-radius: 0.8rem ; 
  border-top-right-radius: 0.8rem ; 
  font-size: 1.1rem ;
  text-align: center;
  margin: 0;
  padding: .5em ;
}

.results-con .record  {
  /*justify-content: space-evenly;*/
}

.results-con .record p {
  width: 5vw ;
}

.up-right {
  display: flex;
  flex-basis: 50% ;
  flex-direction: column ;
  padding-left: 2em ;
}

.del {
  background-color: darkred ;
  border: none;
  color: white;
}

.del:hover {
  background-color: #570101 ;
}

.data-bold {
  font-weight: bold;
}

.data-flex {
   display: flex ;
   justify-content: space-between;
}

.data-right {
  margin-left: 5em ;
}

.changepass {
  max-width: 80% ;
}

.changepass * {
  font-size: .8rem ;
}

@media(max-width: 600px)
{  
  .user-profile
  { padding: .5em ;
  }

  .up-left
  { display: flex ;
    flex-direction: row ;
    flex-wrap: wrap;
    margin-left: 0 ;
  }

  .up-right
  { width: 90% ;
    margin-left: 0 ;
    /*margin-right: 3em ;*/
    padding-left: 0.5em ;
  }

  .test-result-con  {
    width: 100%;
  }

  .data-flex p
  { margin-top: .5em ;
    margin-bottom: .5em ;
    max-width: 100% ;
  }

  .data-right
  { margin-left: 10vw ;
    width: 65%;   
  }

  .data-bold
  { width: 35%;
  }
}