.payment  {
	display: flex ;
	font-size: 1rem;
	justify-content: space-evenly;
	align-items: center;
	font-family: var(--font);
	padding-bottom: 2em ;
}

.payment-right	{
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 30vw;
}

.payment-right * {
	font-size: .8rem;
}

.payment-left	{
	font-size: 1.1rem ;
	display: flex;
	justify-content: center;
	align-items: center;
}

.payment-left p {
	font-weight: 500 ;
	margin: 0;
}

.payment-left .sched-btn {
	margin-bottom: 0;
}

.payment2 .sched-btn {
	padding: .5em 1em ;
	font-size: 1.1rem !important ;
}

.intro-pay {
	display: flex; 
	justify-content: space-between;
	padding: .3em 1em ;
}

.intro-pay p {
	margin: 0 ;
}

.ip-left {
	font-size: .9rem ;
}

.ip-right {
	font-weight: 500 ;
	text-align: center;
}

.green {
	color: var(--main)
}

.gray {
	color: var(--medGray)
}

@media(max-width: 600px)
{	.payment 
	{
		flex-direction: column ;
		padding-bottom: .5em ;
	}

	.payment-left, .payment-right	{
		text-align: center; 
	}

	.payment-left	{
		font-size: .8rem ;
	}

	.payment-right {
		padding-top: .7em ;
		/*min-width: 90vw ;*/
	}

	.payment-right .form-control {
		min-width: 60vw;
	}

	.payment-right button	{
		margin-top: 1em ;
	}

}