@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.slide
{
	width: 100vw !important ;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 40vw ;
}

.cont
{
	width:100% ;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7) ;
	min-height: 40vw ;
}

.row
{	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 10vw ;
    margin-right: 10vw ;
	font-family: 'Rubik' ;
	color: whitesmoke;
}

.logo-slide
{	background-color: white ;
}

.row img
{	margin: auto ;
	width: 89%;
}

.arrow
{
	position: absolute;
	z-index: 9 ;
	cursor: pointer ;
	color: black ;
	top: 45% ;
	padding: 1em 1.1em ;
	font-size: 1.5rem ;
	border-radius: 50% ;
	background-color: rgba(100, 100, 100, 0.5) ;
	border : 1px solid rgba(100, 100, 100, 0.2);
	transition: all 0.2s ;
}

.arrow:hover
{
	background-color: rgba(255, 255, 255, 0.4) ;
	border : 1px solid rgba(0, 0, 0, 0.3);
}

.slider-parent .prev
{
	left:5%;
}

.slider-parent .next
{
	right:5%;
}

.cont .slide-message
{
	font-size: 2.58vw ;
	margin-bottom: 1vw ;
}

.front .slide-message
{
	font-size: 2.52vw ;
	margin-bottom: 0.9vw ;
}

.slide-subtitle
{
	font-size: 2.12vw ;
}

.cont a 
{
	text-decoration: none ;
	background-color: transparent;
	border: 1px solid darkgrey;
	color: white;
	padding: .88vw;
	font-size: 1.76vw ;
	border-radius: 999rem ;
	margin: 5vh 35vw;
	transition: all 0.4s ;
}

.cont a:hover
{
	background-color: rgba(255, 255, 255, 0.7) ;
}

.slide-heading
{
	font-size : 5.4vw ;
	color: whitesmoke;
	font-family: 'Roboto' ;
	margin-top: 1.08vw ;
	margin-bottom: 2.7vw ;
}

@media(max-width: 600px)
{	.slide
	{	width: 100vw !important ;
		min-height: 45vh ;
	}

	.cont
	{	min-height: 45vh ;
	}

	.row
	{	margin-left: 2vw ;
	    margin-right: 2vw ;
	}

	.row img
	{	margin-top: 21.5% ;
		width: 89%;
		padding-bottom: 21.5% ;
	}

	.arrow
	{
		top: 45% ;
		padding: .5em .6em ;
		font-size: 1rem ;
	}

	.cont .slide-message
	{
		font-size: 4.7vw ;
		margin-bottom: 1vh ;
	}

	.front .slide-message
	{
		font-size: 4.5vw ;
		margin-bottom: 0.9vh ;
	}

	.slide-subtitle
	{
		font-size: 3.8vw ;
	}

	.cont a 
	{
		padding: .88vw;
		font-size: 3vw ;
		margin: 3vh 35vw;
	}

	.slide-heading
	{
		font-size : 10.8vw ;
		margin-top: 1.08vw ;
		margin-bottom: 2.7vw ;
	}
}
