.radio-con > div	{
	margin-top: 1em ;
	display: flex ;
	justify-content: space-evenly ;
}

.ttp-radio-con input	{
	margin-top: 0 ;
}

.ttp-btn	{	
	margin-top: 1em ;
}

.result-row	{
	display: flex;
}

@media(max-width: 600px)
{   .radio-con > div
	{	display: block ;
		margin: 1em ;
	}

	.radio-con	{
		display: flex; 
	}

	.ttp-btn	{	
		margin-top: 0 ;
	}
}

