.main-title-con {
	display: flex;
	color : var(--white);
	font-family: var(--font) , sans-serif;
	background-image: url('../images/purple.webp');
	background-size: cover ;
	background-repeat: no-repeat ;
	margin-bottom: .75em ;
}

.black-overlay 	{
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.7) ;
	width: 100% ;
	align-items: center;
}

.title {
	font-size: 1.3rem ;
	margin: 0.5em 0 ; 
	letter-spacing: 1.5px;
}

.subtitle {
	margin-bottom: .6em ;
}

.crumb {	
	display: inline-block;
	font-size : 1rem ;
}

.crumb a {	
	text-decoration: none ;	
	color: var(--white);
	letter-spacing: 1px;
}

@media(max-width: 600px)
{	
	.title {
		font-size: .9rem ;
		letter-spacing: 1px;
	}

	.crumb {	
		font-size : .7rem ;
	}
}