@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.layout
{	display: inline-block;
	font-weight: bold;
	font-size : 1.8rem ;
	font-family: 'Roboto', sans-serif;
}

.title
{	font-size: 2.7rem ;
	margin: 0 0 0.5em  ; 
	padding-top: 0.5em ;
	font-family: 'Roboto', sans-serif;
}

.subtitle
{	margin-bottom: 1em ;	}

.layout a
{	text-decoration: none ;	
	color : white ;
}

.bgimage
{	background-image: url('../images/purple.webp');
	text-align: center ;
	background-size: cover ;
	background-repeat: no-repeat ;
	margin-bottom: .75em ;
	color : white;
}

.colo
{	background-color: rgba(0, 0, 0, 0.7) ;
	width: 100% ;
	height: 100% ;
	padding-bottom: .65em ;
}

@media(max-width: 600px)
{	.layout
	{	font-size : 1.45rem ;
	}

	.title
	{	font-size: 2rem ;
		margin: 0 0 0.3em  ; 
		padding-top: 0.3em ;
	}

	.subtitle
	{	margin-bottom: .5em ;	}

	.bgimage
	{	margin-bottom: .6em ;
	}

	.colo
	{	background-color: rgba(0, 0, 0, 0.5) ;
		padding-bottom: .65em ;
	}

}