.flex
{	display: flex;
	flex-direction: row ;
	background-color: rgba(29, 41, 81,0.9); ; 
	justify-content: space-between;
	color: white ;
	font-size: 1.3rem ;
}

.about-bold
{	font-weight: bold;
	margin: 0.5em auto 0.1em ;
}

.about-left
{	padding: 0 4em 0 2em ;
}

.about-right
{	padding: 0 4em ;
}

.txt
{	margin-left: 3em ;
	margin-bottom: 3em ;
}

.photo
{	margin-top: 6em ;
	margin-right: 4em ;
	width: 38% ;
	height: 60vh ;
	border : 5px solid white ;
	border-radius: 2rem ;
	overflow: hidden; 
}

.br, .br2
{	display: block;
	vertical-align: bottom;
}

.br
{	height: 60vh ;
}

.br2
{	height: 35vh ;
}

.mb
{	margin-top: 4.2em ;
	margin-left: 4em ;
	width: 77% ;
	height: 35vh ;
	border : 5px solid white ;
	border-radius: 2rem ;
	overflow: hidden;
}

.font
{
	font-size: 2rem ; 
	width: 100% ;
	text-align: center ;
	margin-top: 1em ;
}

.display
{
	height : 40vw ;
	text-align: right ;
	background-size: cover ;
	background-repeat: no-repeat ;
	color : white ;
	width: 100% ;
	height: 100% ;
}
