.intro
{
	text-align: left;
	font-weight: normal; 
	font-size: 1.3rem ;
	margin: 1em 5em ;
}

.brand
{
	color: #ff8833;
	font-weight: bold ;
	font-size: 1.4rem ;
}

.ngo
{
	font-weight: bold ;
	font-size: 1.4rem ;
	color: #10913b ;
}

.cen
{	text-align: center; 	}

.bold
{	font-weight: bold ;
	margin: 1.4em 5em ;
}