.intro
{
	text-align: left;
	font-weight: normal; 
	font-size: 1.3rem ;
	margin: 1em 5em ;
}

.brand
{
	color: #ff8833;
	font-weight: bold ;
	font-size: 1.4rem ;
}

.ngo
{
	font-weight: bold ;
	font-size: 1.4rem ;
	color: #10913b ;
}

.cen
{	text-align: center; 	}

.bold
{	font-weight: bold ;
	margin: 1.4em 5em ;
}

.date-cont input[type="text"]
{
	font-family: 'Lato', sans-serif;
  font-size: 1.5rem ; 
  background-color: transparent;
  border : 1px solid black;
  outline: 2px solid #ccddff;
  box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2 );
  margin-top: 0.5em ;
}

.blue-bg
{
	font-size: 1.6rem ;
	padding: 1em 5em ;
	line-height: 2em ;
}

.blue-form .btn2
{
	margin: auto 1em ;
	padding: 0.5em ;
}