.intro
{
	text-align: center;
	font-weight: normal; 
	font-size: 1.3rem ;
}

.brand
{
	color: #ff8833;
	font-weight: bold ;
	font-size: 1.4rem ;
}

.ngo
{
	font-weight: bold ;
	font-size: 1.4rem ;
	color: #10913b ;
}