
.map
{	
	margin-top: 2em ;
	text-align: left;
	margin-left: 1em ;
	margin-right: 6.5em ;
	width: 50% ;

}

.ic
{
	display: flex;
	/*justify-content: space-between;*/
	margin-top : 3em ;

}

.mapouter
{
	position:relative;
	/*text-align:right;*/
	height:400px;
	width:1100px;
}
.gmap_canvas
 {
	text-align: center;
	overflow:hidden;
	background:none!important;
	height:400px;
	width:1100px;
}