.map
{	margin: 2em 0 1.4em 2.5em ;
	text-align: left;
	/*min-width: 600px ;*/
}

.ic
{	display: flex;
	justify-content: space-between;
	margin : .5em  0;
	background-color:  rgb(29,41,81) ;
}

.mapouter
{	position: relative;
	height: 300px;
	width: 600px;
}

.gmap_canvas
{	text-align: center;
	overflow: hidden;
	background: none !important;
	height: 300px;
	width: 600px;
}

.conte
{	margin-top: 1em ;
	display: inline-block;
	padding: 0 1em 1em ;
	margin-right: 5.8vw ;
	font-size: 1.6rem ;
	color: white ;
}

/*.pin svg
{	font-size: 3rem ;
	color: darkred;
}*/

@media(max-width: 600px)
{	.map
	{	margin: 0 0 0 1.4em;
		padding-top: 1.7em ;
	}

	.ic
	{	display: block;
		margin : .2em  0;
	}

	.mapouter
	{	width: 89vw;
		overflow:hidden;
	}

	.gmap_canvas
	{	width: 89vw;
		overflow:hidden;
	}

	.conte
	{	margin-top: .5em ;
		padding: 0 1em 1em ;
		margin-right: 5.8vw ;
		font-size: 1.3rem ;
	}
}