@import url('https://fonts.googleapis.com/css?family=Signika:700&display=swap');

.explore
 {
    text-decoration: none;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 0.5em;
    font-size: 1.5rem;
    border-radius: 999rem;
    margin: 3vh auto;
    transition: all 0.4s;
    display: inline-block;
}

.banner-li
{
    margin: 0.3em 0 ;
}

.ban_text
{
	font-size: 2rem ;
    margin-left: 2em ;
	width: 50% ;
	text-align: center ;
}

.left
{
    margin-right: auto ;
}

.right
{
    margin-left: auto;
}

.ban_text h3
{
    font-family: 'Signika', sans-serif;
    letter-spacing: 0.05em ;
}

.ul
{
    text-align: left ;
}

.ban_text ul  {
  list-style-type: none ;
}

@media(max-width: 600px)
{
    .explore
    {
        padding: 0.5em;
        font-size: .8rem;
        margin: 1vh auto;
    }

    .banner-li
    {
        margin: 0.2em 0 ;
    }

    .ban_text
    {
        font-size: 1rem ;
        margin-left: .5em ;
        width: 50% ;
    }

    .ban_text h3
    {   letter-spacing: 0.05em ;
    }

    .ul ul
    {   margin-block-end: 0;
        padding-inline-start: 10px ;   
    }
}
