@import url('https://fonts.googleapis.com/css?family=Mukta&display=swap');

#bar
{
	background-color: rgb(29, 41, 81);
	border-bottom: 2px solid darkblue ;
	position: fixed; 
  	width: 100% ;
  	top: 84px ;
  	z-index: 14 ;
  	overflow: visible;
}
.pop
{
	/*position: fixed;*/
	z-index: 19;
	background-color: white ;
}

.popup-content
{
	z-index: 19 ;
}

.header-item
{
	color: whitesmoke;
	text-decoration: none ;
	font-size: 1.55rem ;
	padding: 0 1.8vw;
	transition: all 0.5s ;
	margin: 0.1em ;
	font-family: 'Mukta', sans-serif;
}

.right-header
{
	margin-left: auto;
	margin-right: 1vw ;
	display: flex;
	margin-top: 0.4em ;
}

.mini-menu
{
	margin-top: 1.6em ;
}

.header-item:hover
{
	background-color: white ;
	color: rgb(29, 41, 81);
}

@media (max-width: 600px)
{
	.right-header>div
	{
		padding-right: 6.1vw;
	    padding-top: 3.6vh;
	    padding-left: 3.7vw;
	}
}