@import url('https://fonts.googleapis.com/css?family=Mukta&display=swap');

#bar
{
	background-color: rgb(29, 41, 81);
	border-bottom: 2px solid darkblue ;
	position: fixed; 
  	width: 100% ;
  	top: 84px ;
  	z-index: 29 ;
  	overflow: visible;
}

.cheeseburger-menu+div
{
	margin: 0.8em 5vw;
}
.pop
{
	z-index: 19;
	background-color: white ;
}

.popup-content
{
	z-index: 19 ;
	padding: 0 !important ;
	margin: 0 !important ;
}

.popup-arrow
{
	background-color: rgb(70, 130, 180) !important ;
}

.header-item
{
	color: whitesmoke;
	text-decoration: none ;
	font-size: 1.55rem ;
	padding: 0 1.5vw;
	transition: all 0.4s ;
	margin: 0.1em ;
	font-family: 'Mukta', sans-serif;
}

.header-item:hover
{
	background-color: white ;
	color: rgb(29, 41, 81);
}

.pop-item
{
	color: white;
	background-color: rgb(70, 130, 180) ;
	display: block ;
	border-bottom: 1px solid rgb(29, 41, 81) ;
	margin: 0 ;
}

.pop-item:hover
{
	background-color: rgb(29, 41, 81);
	color: white;
}

.right-header
{
	margin-left: auto;
	margin-right: 1vw ;
	display: flex;
}

.menu-div
{	margin: 1vh auto;
	justify-content: center;	
}

a.header-btn
{	padding-top: .2em ; 
}

.header-btn
{
	border:none;
	box-shadow: none; 
	text-decoration: none ;
	font-size: 1.4rem ;
	margin: 0 0.1em ;
	padding: 0 1.4vw ; 
	background-color: transparent;
	transition: all 0.4s ;
	color: rgb(212, 170, 32);
	border-right: 1px solid rgb(212, 170, 32);
	border-left: 1px solid rgb(212, 170, 32);
}

.menu-btn
{	display: block ;
	font-size: 1.55rem ;
	margin: 2vw auto ;
	border-right: none ;
	border-left: none ;
	padding-top: 1.4vw ;
	padding-bottom: 1.4vw ;
}

.header-btn:hover
{
	background-color: rgb(212, 170, 32);
	color: rgb(29, 41, 81);
	border-right: 1px solid rgb(29, 41, 81);
	border-left: 1px solid rgb(29, 41, 81);
}

@media (max-width: 600px)
{
	.right-header>div
	{
		padding-right: 6.1vw;
	    padding-top: 3.6vh;
	    padding-left: 3.7vw;
	}

	#bar
	{	top: 9.95vh ;		
	}

	a.header-btn
	{	padding-top: .3em ; 
	}
}