.header {
	background-color: var(--dark);
	font-family: var(--font);
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid var(--white);
}

.mini-menu {
	display: flex;
	align-items: center;
}

.header-item {
	display: inline-block;
	color: var(--white);
	text-decoration: none ;
	font-size: 1.1rem ;
	padding: .4vw 1.5vw;
	margin: 0.1em ;
	transition: all 0.4s ;
}

.header-item:hover {
	background-color: var(--white) ;
	color: var(--dark);
}

.right-header {
	margin-right: 1vw ;
	display: flex;
	align-items: center;
}

.header-btn	 {
	border:none;
	box-shadow: none; 
	text-decoration: none ;
	font-size: 1.1rem ;
	margin: 0 0.1em ;
	padding: .3vw 1.5vw ; 
	background-color: transparent;
	transition: all 0.4s ;
	color: var(--white);
	border-right: 1px solid var(--white);
	border-left: 1px solid var(--white);
}

.header-btn:hover {
	background-color: var(--white);
	color: var(--dark);
}

@media (max-width: 600px)
{
	.header {
		justify-content: flex-end;
		padding: .5em 1em ;
	}

	.header svg {
		font-size: 2rem ;
		color: var(--white);
		padding-left: .5em ;
	}

	.header-bars {
		font-size: .8rem ;
		color: var(--white);
		padding: .5em ;
		text-decoration: none;
	}

	.header-bars:focus {
		color: var(--white);
	}

	.header-bars svg {
		font-size: .8rem ;
	}	
}