.psyment-menu {
	background-color: var(--lightBlue);
}

.offcanvas-menu {
	display: flex ;
	flex-direction: column;
	font-family: var(--font);
	justify-content: center;
	margin-right: 5em ;
}

.menu-item
{
	color: var(--dark);
	font-size: 1rem ;
	text-decoration: none ;
	margin: .5em 0 0;
	padding: 0 0 .5em 1em;
	font-family: var(--font);
	border-bottom: 2px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to right, var(--white), var(--lightBlue));
}

button.menu-item {
	border: none;
	text-align: left;
	background-color: var(--lightBlue);
	border-bottom: 2px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to right, var(--white), var(--lightBlue));
}

.offcanvas-login {
	display: flex;
	flex-direction: column;
}

.menu-item:focus , .menu-btn:focus {
	color: var(--dark);
}

.footerIcons {
	display: flex ;
	justify-content: space-evenly ;
	gap: 1.5em ;
	align-items: center ;
}

.footerIcons svg {
	color: var(--dark) ;
}