.topbar
{
	background-color: rgb(70, 130, 180) ;
	display: flex ;
	position: fixed; 
  	width: 100% ;
  	top: 0 ;
  	z-index: 14 ;
  	overflow: hidden;
  	color: white ;
}

.bar-item
{
	display: inline-block;
	font-size: 0.9rem;
	margin: 0 0.9vw ;
	padding: 0.7em 0.7vw ;
	transition: all 0.5s ;
}

.bar-item>div
{
	display: flex;
	font-size: 3rem ;
	margin: 0.1em ;
}

.bar-item a 
{	text-decoration: none ;
	color:whitesmoke;
}

.bar-item a:focus
{
	outline: 0;
}

.bar-item:hover
{
	background-color: rgba(14, 77, 146, 0.8) ;
}

.item-txt
{
	font-size: 1.3rem ;
	/*background-color: rgb(70, 130, 180) ;*/
	margin-left: 0.3em ;
}


.topbar .right-topbar
{
	margin-left: auto;
	display: inline-block; 
}

.right-topbar
{
	margin-right: 3vw ;
}

.logo
{
	font-size: 2rem ;
	padding: 0.2em ;
	margin: 0.4em ;
	border: 1px solid white;
}

.logo p
{
	margin: 0 ;
}