.test-box-con {
	background-color: var(--dark);
	display: flex;
	justify-content: center;
    font-size: 1rem ; 
    font-family: var(--font);
}

.test-box {
	border: 3px solid var(--dark);
	background-color: var(--white) ;
	border-radius: 1rem ;
	margin: 1em 0 ;
	padding: 1em ;
	width: 60%;
}

.lang-con	{
	display: flex;
	justify-content: flex-end;	
}

.check-btn {
	background-color: var(--dark);
	color: var(--white) ;
	border: none;
	box-shadow: none ;
	cursor: pointer;
	border-radius: 0.4rem ;
	padding: .2em .3em ;
	margin: 0 .2em ; 
	width: auto;

	display: flex;
	align-items: center;
	transition: all 0.3s ;
}

.check-btn svg {
	font-size: 1.5rem;
}

.check-btn:focus {
	outline: 0 ;
	box-shadow: none ;
	background-color: var(--darker) ;
}

.check-btn:active:focus {
	outline: 0 ;
	box-shadow: none ;
	background-color: var(--darker) ;
}

.check-btn:hover	{
	background-color: var(--darker) ;
	color: var(--white);
}

.test-box h2{
	text-align: center;
	font-size: 1.2rem ;
	font-weight: bold;
	/*text-decoration: underline;*/
}

.test-box li{ 
    list-style: none;
} 

.test-box li::before{ 
    content: "\00BB  ";
    font-weight: bold;
    font-size: 1.5rem ;  
} 

.start-btn-con {
	text-align: center;
	padding-top: .2em ;
}

.start-btn-con .sched-btn {
	font-size: 1rem ;
}

.question {
	padding: 0 2.5em ;
}

.question p , .question2 p {
	font-size: 1.1rem ;
	font-weight: bold ;
}

.question h4 , .question2 h4 {
	font-size: .9rem;
	font-weight: bold;
	text-align: center;
	color: darkred ; 
}

.radio-con .check-btn{
	margin: .5em 0;
	min-width: 16vw ;
}

.next-btn-con {
	padding: .2em 0;
	display: flex;
	justify-content: space-evenly;
}

.next-btn-con .next-btn {
	font-size: 1rem ;
	margin-bottom: 0 ;
	padding: 0.3em 0.9em ;
}

.question .warn, .question2 .warn	{
	color: darkred ;
	font-size: .8rem ;
	padding: .1em ;
  	border : 1px solid red ;
  	border-radius: 0.4rem ;
  	text-align: center ;
  	background-color: salmon ;
  	margin: .8em 0 ;
}

.proceed-con {
	text-align: center;
}

.proceed-con button	{
	margin-right: 2em ;	
}

.eval {
	font-weight: bold;
}

.high {
	color: darkred;
}

.low {
	color: seagreen;
}

.mild {
	color: goldenrod ;
}

.moderate {
	color: orangered ;
}

@media(max-width: 600px) {	
	.test-box-con {
	    font-size: .8rem ; 
	}

	.test-box {
		margin: 1em 0 ;
		padding: 1em ;
		width: 95%;
	}

	.test-box ul {
		padding-inline-start: 0;
	}

	.lang-con	{
		margin-bottom: .5em ;
	}

	.check-btn {
		font-size: .7rem ;
	}

	.check-btn svg {
		font-size: 1.4rem;
		margin-right: .5em ;
	}

	.test-box h2{
		font-size: 1rem ;
	}

	.start-btn-con {
		padding-top: 0 ;
	}

	.start-btn-con .sched-btn {
		font-size: .7rem ;
	}

	.question {
		padding: 0;
	}

	.question p , .question2 p {
		font-size: .8rem ;
	}

	.question h4 , .question2 h4 {
		font-size: .7rem;
	}

	.radio-con {
		flex-direction: column;
		align-items: flex-start;
	}

	.radio-con .check-btn{
		min-width: 42vw ;
	}

	.next-btn-con {
		padding: .5em 0;
		display: flex;
		flex-direction: column ;
		align-items: center ;
	}

	.next-btn-con .next-btn {
		font-size: .7rem ;
		padding: 0.4em 1em ;
		margin: .5em ;
	}

	.next-btn-con .sched-btn {
		margin: .5em ;
		width: auto ;
	}

	.question .warn, .question2 .warn	{
		font-size: .6rem ;
	  	margin: .8em 0 ;
	}

	.proceed-con button	{
		margin: 0 ;	
	}

}