.login-page, .register-con {
	flex-grow: 1;
}

.login-con {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em ;
	font-family: var(--font);
}

.login {
	padding-top: 1em ;
	width: 30vw;
}

.login * {
	font-size: .9rem;
}

.register {
	width: 60vw ;
}

.login a {
	color: var(--white);
	text-decoration: none;
}

.login a:hover {
	color: var(--white);
}

.login-heading {
	font-size: 1.2rem;
	text-align: center;
	color: var(--dark);
	margin: .5em ;
}

.fp, .nfp	{
	text-align: right ;
	cursor: pointer;
	transition: all .3s;
}

.nfp	{
	margin-right: 3em ;
	cursor: text ;
	max-width: 30vw;
}

.fp:hover	{
	font-weight: bold ;
	text-decoration: underline;
}

@media(max-width: 600px) {
	.login, .register, .contact {
		display: flex;
		flex-direction: column;
		width: 80% ;
	}

	.login-heading {
		font-size: 1.2rem;
		text-align: center;
		margin: .5em ;
	}

	.fp, .nfp	{
		text-align: center ;
	}

	.nfp	{
		margin-right: 0 ;
		max-width: 80vw;
	}

	.login .sched-btn, .register .sched-btn {
		min-width: 40vw ;
		text-align: center ;
		align-self: center;
	}
}