.login-page {
	flex-grow: 1;
}

.login-con {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em ;
	font-family: var(--font);
}

.login {
	padding-top: 1em ;
}

.login * {
	font-size: .9rem;
}

.login .form-control {
	width: 30vw;
}

.register .form-control {
	width: auto;
}

.login a {
	color: var(--white);
	text-decoration: none;
}

.login a:hover {
	color: var(--white);
}

.login-heading {
	font-size: 1.2rem;
	text-align: center;
	color: var(--dark);
	margin: .5em ;
}

.fp, .nfp	{
	text-align: right ;
	cursor: pointer;
	transition: all .3s;
}

.nfp	{
	margin-right: 3em ;
	cursor: text ;
	max-width: 30vw;
}

.fp:hover	{
	font-weight: bold ;
	text-decoration: underline;
}