.home {
	font-family: var(--font);
	flex-grow: 1;
}

.home-top {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	padding: 1em 0;
}

.home-logo {
	border-radius: 1.5rem ;
	width: 85% ;
}

.home-float h3 {
	font-size: 2rem ;
	color: var(--white) ;
	background-color: var(--dark) ;
	font-weight: 500 ;
	text-align: center ;
	padding-top: .5em ;
	margin: 0 ;
}

/* .home-top-middle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.home-top h3 {
	font-size: 2.5rem ;
	color: var(--main);
	max-width: 30vw ;
	margin-bottom: 1.6em ;
	font-weight: 500 ;
}

.home-btn {
	text-decoration: none;
	font-size: 1rem !important;
	white-space: nowrap;
}

.leader {
	color: var(--dark);
}

.leader img {
	border-radius: 8px ;
	border: 3px solid var(--dark) ;
	max-height: 240px;
	margin-bottom: 1em ;
}

.leader p {
	margin : 0 ;
	font-size: 1rem ;
	text-align: center;
	font-weight: 500 ;
} */

@media(max-width: 600px) {
	.home-top {
		flex-direction: column;
	}

	.home-logo {
		width: 100%;
	}

	.home-float h3 {
		font-size: 1.2rem ;
		padding: .5em 0 ;
	}

	/* .home-top h3 {
		font-size: 1.3rem ;
		color: var(--white);
		max-width: 100% ;
		margin: .5em 0;
	} */

	/* .home-btn {
		font-size: .8rem !important;
	}

	.leader {
		display: none;
		color: var(--white);
		margin-bottom: 1em ;
		flex-direction: column;
		align-items: center;
	}

	 .leader img {
		border-radius: 1.5rem ;
		max-height: 300px;
	}

	.leader p {
		margin : 0 ;
		font-size: 1rem ;
		text-align: center;
	} */
}