.home {
	font-family: var(--font);
	flex-grow: 1;
}

.home-top {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--dark);
	
	min-height: 55vh;
}

.home-top-middle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.home-top h3 {
	font-size: 2.5rem ;
	color: var(--white);
	max-width: 30vw ;
	margin-bottom: 1.6em ;
}

.home-btn {
	text-decoration: none;
	background-color: var(--white) !important;
	color: var(--dark) !important;
	font-size: 1rem !important;
	white-space: nowrap;
}

.home-btn:hover {
	background-color: var(--lightBlue) !important;
}

.mental-health {
	color: #05f545 ;
}

.leader {
	color: var(--white);
}

.leader img {
	border-radius: 1.5rem ;
	max-height: 300px;
}

.leader p {
	margin : 0 ;
	font-size: 1rem ;
	text-align: center;

}

/* DONT DELETE */
/*.testim {
	color: var(--white);
	font-weight: bold ;
	font-size: 1.3rem ;
}*/

@media(max-width: 600px) {
	/* DONT DELETE */
	/*.testim
	{	font-size: 2rem ;		
	}*/	

	.home-top {
		min-height: 30vh;
		flex-direction: column;
	}

	.home-logo {
		height: 20vh ;
	}

	.home-top h3 {
		font-size: 1.3rem ;
		color: var(--white);
		max-width: 100% ;
		margin: .5em 0;
	}

	.home-btn {
		font-size: .8rem !important;
	}

	.mental-health {
		color: #05f545 ;
	}

	.leader {
		display: none;
		color: var(--white);
		margin-bottom: 1em ;
		/*display: flex;*/
		flex-direction: column;
		align-items: center;
	}

	 .leader img {
		border-radius: 1.5rem ;
		max-height: 300px;
	}

	.leader p {
		margin : 0 ;
		font-size: 1rem ;
		text-align: center;
	}
}