.su-blue-bg
{
	background-color: rgb(83, 154, 212) ;
	height: 100%;
	text-align: center;
	font-family: 'Roboto' ;
	margin-bottom: 1em ;
	padding-bottom: 1em ;
}

.reg-as
{
	text-decoration: underline;
	font-size: 3rem ;
	margin: 0.2em 0 0.4em ;
	padding-top: .4em ;
}

.or
{
	font-size: 2rem ;
	margin: 0.2em;
}

.select-btn
{	border: 2px solid white;
	box-shadow: none ;
	color: white;
	font-size: 2.2rem;
	padding: 0.4em 0.6em ;
	margin: 0.3em ;
	background-color: rgb(29, 41, 81) ;
	border-radius : .5rem;
	transition: all .5s ;
}

.select-btn:hover
{
	transform: scale(1.05);
	background-color: rgb(29, 52, 128) ;
}

@media(max-width: 600px)
{	.reg-as
	{	font-size: 2.4rem ;
	}

	.or
	{	font-size: 1.6rem ;
	}

	.select-btn
	{	font-size: 1.8rem;
	}

}