.downbar {	
	font-weight: bold ;
	font-family: var(--font);
	text-align: center;
	color: var(--black);
}

.downbar p {	
	margin: .2em .2em .4em ;
}

.myarth {	
	width: 6.5vw ;
	cursor: pointer;
}

@media(max-width: 600px)
{	.downbar
	{	font-weight: bold ;
	}

	.downbar p
	{	margin: .2em .2em .4em ;
		font-size: 0.7rem;
	}

	.myarth
	{	width: 20vw ;
	}
}