.testbox 	{
	border: 2px solid black;
	margin: 1em 4em ;
	border-radius: 1rem ;
	display: flex ;
	justify-content: space-between;
	background-color: rgba(83, 154, 212, 0.5) ;
	transition: all .2s ;
}

.testbox:hover	{
	background-color: rgba(83, 154, 212, 0.7) ;
}

.testbox a	{
	text-decoration: none ;
	font-family: 'Roboto' ;
}

.testbox p 	{
	font-size: 1.2rem ;
}

.testbox-left	{
	padding-left: 2em ;
}

.testbox-right	{
	padding-top: 2.8em ;
	padding-right: 3em ;
}

@media(max-width: 600px)
{	.testbox 	{
		margin: 1em 1em ;
		display: block ;
	}

	.testbox p 	{
		font-size: 1.2rem ;
	}

	.testbox-left	{
		padding: 0 2em ;
	}

	.testbox-right	{
		padding-top: .8em ;
		padding-right: 0 ;
		text-align: center;
		margin-bottom: 2.5em ;
	}

}