.question2 .radio-con > div	{
	margin-top: 1em ;
	display: flex ;
	justify-content: space-evenly ;
}

.ttp-radio-con input	{
	margin-top: 0 ;
}

.ttp-btn	{	
	margin-top: 1em ;
}

.question2 .res-res, .question2 .res-ques  {
	font-weight: normal !important ;
}

.result-row	{
	display: flex; 
}

.res-sno , .res-res {
	flex-grow: 1 ;
}

.res-lvl	{
	flex-grow: 2 ;
}

.res-ques {
	flex-grow: 3 ;
}

.ques-color	{
	color: brown;
}

.leta-text {
	display: flex ;
	padding-top: 1em ;
}

.leta-text>div {
	flex-basis: 50% ;
}

@media(max-width: 600px)
{   .question2 .radio-con > div
	{	display: block ;
		margin: 1em ;
	}

	.radio-con	{
		display: flex; 
	}

	.ttp-btn	{	
		margin-top: 0 ;
	}

	.result-row {
		flex-wrap: wrap ;
	}

	.leta-text {
		flex-direction: column ;
	}
}