.pop-box {
	position: fixed ; 
	right: 0 ;
	bottom : 0 ;
	z-index: 99 ;
	margin-bottom: 2em ;
	margin-right: 1em ;
}

.pop-box .sched-btn {
	text-decoration: none ;
	border: 2px solid white ;
}

.new {
	color: orange ;
	font-size: 0.9rem ;
	font-weight : bold ;
}

.bounce-top {
	animation: bounce-top 1.1s infinite both;
}

@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}


@media(max-width: 600px)
{
	.pop-box .sched-btn {
		font-size: 1rem ;
	}
	.new {
		font-size: 0.7rem ;
	}
	.pop-box {
		margin-bottom: 8em ;
		margin-right: 1em ;
	}	
}

