.Admin {
	flex-grow: 1;
}

.admin-panel {
	display: flex ;
	justify-content: center;
	font-family: var(--font);
}

.admin-panel .ag-theme-alpine {
	font-family: var(--font);
	font-size: 0.9rem ;
}

.admin-panel-order p {
	margin: 0 ;
}

.admin-panel .userp-left .btn-light {
	padding: .5rem 1.25rem ;
	border: none;
	font-size: 0.9rem;
	display: flex;
	justify-content: space-between;
}

.admin-sidebar {
	display: flex ;
	flex-direction: column;
}

.admin-sidebar .accordion-button {
	color: var(--main);
	font-size: 0.9rem;
	padding: .5rem 1.25rem ;
}

.admin-sidebar .accordion-button:focus {
	outline: 0 ;
	box-shadow: none ;
	background-color: var(--dark) ;
	color: var(--white)
}

.admin-sidebar .accordion-button:active:focus {
	outline: 0 ;
	box-shadow: none ;
	background-color: var(--dark) ;
	color: var(--white)
}

.admin-sidebar .accordion-button:hover {
	background-color: var(--dark) ;
	color: var(--white)
}

.admin-sidebar .accordion-button:not(.collapsed) {
	background-color: transparent;
	color: var(--main);
}

.admin-sidebar .accordion-button:not(.collapsed):hover {
	color: var(--main);
}

.admin-sidebar .accordion-body {
	display: flex;
	flex-direction: column;
	padding-top: 0 ;
	padding-bottom: 0 ;
}

.admin-right {
	flex-grow: 2;
}

.admin-form .form-floating:before {
  content: '';
  position: absolute;
  top: 1px; /* border-width (default by BS) */
  left: 1px; /* border-width (default by BS) */
  width: calc(100% - 25px); /* to show scrollbar */
  height: 32px;
  border-radius: 4px; /* (default by BS) */
  background-color: #ffffff;
}

.admin-form .form-floating textarea.form-control {
  padding-top: 32px; /* height of pseudo element */
}

.offcanvas-end {
	width: 500px !important;
}

.userp-left {
	margin: 0 1em ;
	background-color: var(--white);
}

.userp-left .btn-light {
	background-color: var(--white);
	color:  var(--main);
	text-align: left;
	/*font-weight: bold ;*/
	padding: .3em .75rem ;
}

.userp-left .btn-light:focus {
	outline: none;
	box-shadow: none;
	background-color: var(--dark);
	color:  var(--white);
}

.userp-left .btn-light:hover {
	background-color: var(--dark);
	color:  var(--white);
}

.userp-right {
	flex-grow: 2;
	background-color: var(--white);
}


.search-con {
	display: flex ;
	align-items: center;
	border: 1px solid #e4e4e4 ;
	border-radius: 99rem ;
	padding-right: 0.3em ;
	height: 7vh ;
	background-color: var(--white) ;
}

.search-con input {
	border: none ;
	border-radius: 99rem ;
	margin: 0 ;
	padding: 0.3em 1em ; 
	font-size: .7rem ;
	width: 17vw ;
	background-color: transparent; 
}

.hide {
	visibility: hidden;
}

.search-con>svg {
	cursor: pointer ;
	color: var(--dark);
	margin-right: .5em ;
	font-size: 1rem ;
}

.search-con .search-btn {
	background-color: var(--dark) ;
	color: var(--white);
	cursor: pointer; 
	border: none;
	border-radius: 50% ;
	padding: 6px 10px ;
	margin-right: 5px ;
	transition: all 0.1s ;
}

.search-con .search-btn:focus {
	outline: 0 ;
}

.search-con .search-btn:hover {
	background-color: var(--main) ;
}


@media(max-width: 600px)
{
	.search-con input {
		padding: 0.3em 1em ; 
		margin: 0 ;
		font-size: 1rem ;
		width: 70vw ;
		background-color: transparent; 
	}
}