.test-boxes {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background: linear-gradient(to bottom, var(--dark) 0%, var(--dark) 30%, transparent 30%, transparent 100% );
}

.testbox 	{
	display: flex ;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
	border: 4px solid var(--dark) ;
	border-radius: 1rem ;
	min-width: 20vw ;
	max-width: 23vw ;

	background-color: var(--white);
	margin: 0 .5em 1em ;
	padding: .5em 0 0 ;
	transition: all .2s ;
}

.testbox h2 {
	font-size: 1.1rem ;
	text-align: center;
	font-weight: bold;
	background-color: var(--dark) ;
	color: var(--white) ;
	margin: 0 ;
	padding: .3em 0 ;
	width: 100% ;
}

.testbox p {
	font-size: 1rem ;
	text-align: center;
	margin: .5em 0 ;
	padding: 0 .5em ;
}

.testbox .tb-hin {
	font-weight: bold ;
}

.testbox .moderate, .testbox .low, .testbox .high {
	font-size: 1.2rem;
	font-weight: bold ;
	margin: .2em 0 ;
}

.testbox a	{
	text-decoration: none ;
}

@media(max-width: 600px)
{	
	.test-boxes {
		flex-direction: column;
		background: linear-gradient(to bottom, var(--dark) 0%, var(--dark) 10%, transparent 10%, transparent 25%, var(--dark) 25%, var(--dark) 35%, transparent 35%, transparent 50%, var(--dark) 50%, var(--dark) 60%, transparent 60%, transparent 75%, var(--dark) 75%, var(--dark) 85%, transparent 85%, transparent 100%);
	}

	.testbox 	{
		margin: .8em ;
		border-radius: 1rem ;
		max-width: 100% ;
	}

	.testbox h2 {
		font-size: .9rem ;
	}

	.testbox p 	{
		font-size: .9rem ;
	}
}