.test-boxes {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background: var(--dark) ;
}

.testbox 	{
	display: flex ;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: .5em ;
	
	border: 4px solid var(--white) ;
	border-radius: 1rem ;
	width: 23vw ;

	background-color: var(--white);
	margin: 1em .5em ;
	padding-bottom: .5em ;
	transition: all .2s ;
}

.testbox h2 {
	font-size: 1.1rem ;
	text-align: center;
	font-weight: bold;
	background-color: var(--dark) ;
	border-radius: 1rem ;
	color: var(--white) ;
	margin: 0 ;
	padding: .3em 0 ;
	width: 100% ;
}

.testbox p {
	font-size: 1rem ;
	text-align: center;
	margin: 0 ;
	padding: 0 .5em ;
}

.tb-img {
	width: 100% ;
	height: auto ;
	border-radius: 1rem ;
}

.testbox .tb-hin {
	font-weight: bold ;
}

.testbox .moderate, .testbox .low, .testbox .high {
	font-size: 1.2rem;
	font-weight: bold ;
	margin: .2em 0 ;
}

.testbox a	{
	text-decoration: none ;
}

@media(max-width: 600px)
{	
	.test-boxes {
		flex-direction: column;
		background-color: var(--white) ;
	}

	.testbox 	{
		margin: .8em ;
		border-radius: 1rem ;
		max-width: 100% ;
		width: 93vw ;
		padding: 0 ;
	}

	.testbox .sched-btn {
		margin: 0 1em .5em ;
		font-size: .9rem ;
		padding: 0.5em 1.2em ;
	}

	.testbox h2 {
		font-size: .9rem ;
		padding: .5em 0 ;
	}

	.testbox p 	{
		font-size: .9rem ;
	}
}