.parallax
{	background-image: url("../images/i5.webp");
	min-height: 20vh; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  	text-align: center;
	margin-top: .5em ;
	padding-top: 4% ;
}