.size
{
	font-size: 1.6rem ;
}

.align
{
	text-align: center ;
	margin-left:  3em ;
	margin-right: 4em ;
}

.disp
{
	display: flex;
	flex-direction: column;
	margin: 2em ;
	justify-content: space-between;
}


.sepr
{
	margin-right: 3em ;
}

.sepl
{
	/*margin-left: 3em ;*/
	/*margin-right: 5em ;*/
}

.in
{
	display: block;
	width: 100% ;
	height:	100% ;
	font-size: 1.5rem ;
	margin-bottom: 1em ;
	text-align: center;
}

.vwh
{
	height: 10vw ;
}

.but
{
	display: block ;
	margin : 1em ;
	padding: 0.8em 3.3em ;
	border-radius: 2em ;
	border : none ;
	box-shadow: none ;
	font-size: 1.3rem ;
	color: blue ;
}

.but:hover
{
	color : white ;
	background-color: rgb(64, 64, 64);
}
.but:focus 
{
	border : none;
	outline : 0 ;
}
