.test-box {
	border: 3px solid rgb(29, 41, 81);
	border-radius: 1rem ;
	margin: 1em 4em ;
	/*padding: .5em 2em ;*/
	background-color: white ;
}

.test-box h2{
	text-align: center;
	text-decoration: underline;
}

.test-box h3
{	margin: 0;
	color: white;
	background-color: rgb(29, 41, 81) ;
	text-align: center;
	padding: 0.1em 0 ;
	font-size: 1.5rem ;
	border-top-left-radius: .7rem ;
	border-top-right-radius: .7rem ; 	
}

.test-box li{ 
    list-style: none;
    font-size: 1.2rem ; 
} 

.test-box li::before{ 
    content: "\00BB  ";
    font-weight: bold;
    font-size: 1.5rem ;  
} 

.check-con
{	font-size: 1.05rem;
	padding-left: 3em ;
}

.start-btn-con {
	text-align: center;
	padding-top: 1.3em ;
}

.warn	{
	color: darkred ;
	font-size: 1.2rem ;
	padding: .1em ;
  	border : 1px solid red ;
  	border-radius: 0.4rem ;
  	text-align: center ;
  	background-color: salmon ;
  	margin-left: 1.1em ;
  	margin-right: 1.1em ;
}

.question p {
	font-size: 1.3rem ;
	font-weight: bold ;
	padding-left: 3em ;
	padding-right: 3em ;
}

.radio-con {
	font-size: 1.2rem ;
	padding-left: 4em ;
}

.radio-con input {
	margin-top: 1em ;
}

.next-btn-con
{
	padding: 1em 0;
	text-align: right ;
}

.next-btn 
{
	margin-bottom: 0 ;
	padding: 0.3em 0.9em ;
	margin-right: 10vw ;
}

.proceed-con {
	text-align: center;
}

.proceed-con button	{
	margin-right: 2em ;	
}