.test-box {
	border: 3px solid rgb(29, 41, 81);
	border-radius: 1rem ;
	margin: 1em 4em ;
	background-color: white ;
}

.test-box h2{
	text-align: center;
	text-decoration: underline;
}

.test-box h3
{	margin: 0;
	color: white;
	background-color: rgb(29, 41, 81) ;
	text-align: center;
	padding: 0.1em 0 ;
	font-size: 1.5rem ;
	border-top-left-radius: .7rem ;
	border-top-right-radius: .7rem ; 	
}

.test-box li{ 
    list-style: none;
    font-size: 1.2rem ; 
} 

.test-box li::before{ 
    content: "\00BB  ";
    font-weight: bold;
    font-size: 1.5rem ;  
} 

.start-btn-con {
	text-align: center;
	padding-top: 1.3em ;
}

.lang-con	{
	margin-left: 2em ;
	margin-top: .5em ; 
	cursor: pointer ;
}

.question p , .question2 p {
	font-size: 1.3rem ;
	font-weight: bold ;
	padding-left: 3em ;
	padding-right: 3em ;
}

.question h4 , .question2 h4 {
	padding-left: 5em ;
	color: darkred ; 
}

.radio-con {
	font-size: 1.2rem ;
	padding-left: 4em ;
}

.radio-con input {
	margin-top: 1em ;
}

.radio-div	{
	cursor: pointer;
}

.next-btn-con
{
	padding: 1em 0;
	text-align: right ;
}

.next-btn 
{
	margin-bottom: 0 ;
	padding: 0.3em 0.9em ;
	margin-right: 10vw ;
}

.warn	{
	color: darkred ;
	font-size: 1.2rem ;
	padding: .1em ;
  	border : 1px solid red ;
  	border-radius: 0.4rem ;
  	text-align: center ;
  	background-color: salmon ;
  	margin-left: 1.1em ;
  	margin-right: 1.1em ;
}

.proceed-con {
	text-align: center;
}

.proceed-con button	{
	margin-right: 2em ;	
}

.eval {
	font-weight: bold;
}

.high {
	color: darkred;
}

.low {
	color: seagreen;
}

.mild {
	color: goldenrod ;
}

.moderate {
	color: orangered ;
}

.support {
	text-align: center;
}

.support .sched-btn {
	margin-left: 1em ;
	font-size: 1.1rem ;
	font-weight: normal ;
	text-decoration: none ;
}

@media(max-width: 600px)
{	.test-box {
		margin: 1em ;
	}

	.start-title 	{
		margin: .4em 0 ;
	}

	.test-box h3 	{	
		margin: 0;
		font-size: 1.3rem ;
	}

	.start-div ul 	{
		margin-top: 0 ;
		padding-inline-start: 1.5vh ; 
		padding-right: 1vh ;
	}

	.test-box li{ 
	    font-size: 1rem ; 
	} 

	.start-btn-con {
		padding-top: 0 ;
	}

	.question p , .question2 p {
		font-size: 1.1rem ;
		padding-left: 1em ;
		padding-right: 1em ;
		margin-bottom: 0 ;
	}

	.question h4 , .question2 h4 {
		padding-left: .5em ;
		font-size: .95rem ;
		margin-top: .4em ;
	}

	.warn	{
		font-size: .8rem ;
	  	margin-left: .6em ;
	  	margin-right: .6em ;
	}
	
	.radio-con {
		font-size: 1rem ;
		padding-left: 2em ;
	}

	.radio-con input {
		margin-top: .9em ;
	}

	.next-btn-con	{
		margin-top: .5em ;
		padding: 0.2em 0;
	}

	.next-btn	{ 
		font-size: 1rem ; 
		padding: 0.4em 1em ;
		margin-right: 10vw ;
	}

	.proceed-con button	{
		margin-right: 2em ;	
	}

}